{{#each post}}
<div>
    <div>
        <h3>
            {{post.creator}}
        </h3>
        <p>
            {{post.date}}
        </p>
    </div>
    <p>
        {{post.content}}
    </p>
</div>
{{/each}}